<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.AddressMapper">

	<!-- 특정 주소 정보 추출 -->
	<select id="selectAddressOne" parameterType="int" resultType="com.btf.tap.vo.Address">
		SELECT
			da.detail_address_id detailAddressId, da.address_id addressId,
			da.detail_address detailAddress, da.detail_address2 detailAddress2, a.sido, a.sigungu, a.road_name roadName
		FROM (SELECT * FROM detail_address where detail_address_id=#{detailAddressId}) da
		INNER JOIN address a ON da.address_id=a.address_id
	</select>

	<!-- 주소 검색 -->
	<select id="searchAddressOne" parameterType="com.btf.tap.vo.Address" resultType="com.btf.tap.vo.Address">
		SELECT address_id addressId, sido, sigungu, road_name roadName FROM address
		WHERE
			sido=#{sido} AND sigungu=#{sigungu} AND road_name=#{roadName}
	</select>

	<!-- 상세 주소 등록 -->
	<insert id="insertDetailAddress" parameterType="com.btf.tap.vo.Address">
		INSERT INTO detail_address(
			address_id, detail_address, detail_address2
		)VALUE(
			#{addressId}, #{detailAddress}, #{detailAddress2})
		<selectKey keyProperty="detailAddressId" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 상세 주소 정보 수정 -->
	<update id="updateDetailAddress" parameterType="com.btf.tap.vo.Address">
		UPDATE detail_address SET
			address_id=#{addressId}, detail_address=#{detailAddress}, detail_address2=#{detailAddress2}
		WHERE detail_address_id= #{detailAddressId}
	</update>
	
	<!-- 상세 주소 삭제 -->
	<delete id="deleteDetailAddress" parameterType="int">
		DELETE FROM detail_address
		WHERE detail_address_id= #{detailAddressId}
	</delete>
</mapper>