<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btf.tap.mapper.HostMapper">
	<resultMap type="com.btf.tap.vo.Host" id="resultHost">
		<result column="host_id" property="hostId"/>
		<result column="host_pw" property="hostPw"/>
		<result column="host_age" property="hostAge"/>
		<result column="host_phone" property="hostPhone"/>
		<result column="host_name" property="hostName"/>
		<result column="business_number" property="businessNumber"/>
		<result column="host_point" property="hostPoint"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>
	
	<!-- 호스트 한 명의 정보 불러오기 -->
	<select id="selectHostOne" resultMap="resultHost" parameterType="com.btf.tap.vo.Host" >
		SELECT 
			host_id,
			host_name,
			host_age,
			host_phone,
			business_number,
			host_point,
			create_date,
			update_date
		FROM
			host
		WHERE
			host_id=#{hostId}
	</select>
	
	<!-- 호스트 전체 목록 불러오기 -->
	<select id="selectHostList" resultMap="resultHost" parameterType="com.btf.tap.vo.Host" >
		SELECT 
			host_id,
			host_name,
			host_age,
			host_phone,
			business_number,
			host_point,
			create_date,
			update_date
		FROM
			host
		ORDER BY 
			create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
	
	<!-- 전체 호스트 수 -->
	<select id="totalHostCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			host	
	</select>
	
	<!-- 호스트 비밀번호 확인하기(수정용) -->
	<select id="selectHostPw" parameterType="com.btf.tap.vo.Host" resultType="int" >
		SELECT 
			COUNT(*)
		FROM
			host
		WHERE
			host_id=#{hostId} AND
			host_pw=#{hostPw}
	</select>
	
	<!--  새로운 호스트 한 명 등록하기 -->
	<insert id="insertHostOne" parameterType="com.btf.tap.vo.Host">
		INSERT INTO
			host(
				host_id, 
				host_pw,
				host_age,
				host_name,
				host_phone,
				business_number,
				host_point,
				create_date,
				update_date 
			)
		VALUES (
			#{hostId},
			#{hostPw},
			#{hostAge},
			#{hostName},
			#{hostPhone},
			#{businessNumber},
			0,
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 호스트 한 명의 정보를 수정(나이,이름, 전화번호 ) -->
	<update id="updateHostOne" parameterType="com.btf.tap.vo.Host">
		UPDATE
			host
		SET
			host_age=#{hostAge},
			host_name=#{hostName},
			host_phone=#{hostPhone},
			update_date=NOW()
		WHERE
			host_id=#{hostId}
	</update>
	
	<!-- 호스트 한 명의 포인트를 충전 -->
	<update id="updateHostPointEarn" parameterType="com.btf.tap.vo.Host" statementType="CALLABLE">
		{
			CALL host_update_point(
				#{hostId},
				#{hostPoint},
				'충전',
				0,
				NOW()
			)
		}
	</update>
	
	<!-- 호스트 한 명의 포인트를 전환 -->
	<update id="updateHostPointSpend" parameterType="com.btf.tap.vo.Host"  statementType="CALLABLE">
		{
			CALL host_update_point(
				#{hostId},
				#{hostPoint},
				'전환',
				0,
				NOW()
			)
		}
	</update>
	
	<!-- 호스트 한 명의 정보를 수정(비밀번호) -->
	<update id="updateHostPw" parameterType="com.btf.tap.vo.Host">
		UPDATE
			host
		SET
			host_pw=#{hostPw},
			update_date=NOW()
		WHERE
			host_id=#{hostId}
	</update>
	
	<!-- 호스트 한 명의 정보를 삭제 -->
	<delete id="deleteHostOne" parameterType="com.btf.tap.vo.Host">
		DELETE FROM
			host
		WHERE
			host_id=#{hostId} AND
			host_pw=#{hostPw}
	</delete>
	
	<!-- 총 수익 포인트 합 조회 -->
	<select id="selectRevenueHost" parameterType="String" resultType="Integer">
		SELECT
			earn - refund
		FROM view_user_point_history_summary
		<where>
			user_id = #{hostId}
		</where>
	</select>	
	
	<!-- 연도별 수익 포인트 합 조회 -->
	<select id="selectYearRevenueHost" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			host_id,
			IFNULL(SUM(case when point_history_category='수입' then changed_point END), 0)
			- IFNULL(SUM(case when point_history_category='환불' then changed_point END), 0)
		 price
		FROM host_point_history
		<where>
			YEAR(create_date) = #{year}
			AND host_id = #{hostId}
		GROUP BY host_id;
		</where>
	</select>
	
	<!-- 연도별 월간 수익 포인트 조회 -->
	<select id="selectMonthRevenueHost" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(create_date, '%Y-%m') monthList,
			IFNULL(SUM(case when point_history_category='수입' then changed_point END), 0)
			- IFNULL(SUM(case when point_history_category='환불' then changed_point END), 0)
		 price
		FROM host_point_history
		<where>
			YEAR(create_date) = #{year}
			AND host_id = #{hostId}
		GROUP BY monthList;
		</where>
	</select>
	
	<!-- 연도별 숙소 월간 수익 포인트 조회 -->
	<select id="selectRoomMonthRevenue" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(p.payment_date, '%Y-%m') monthList,
			SUM(p.final_payment_price) price
		FROM payment p
		INNER JOIN reservation rv ON p.reservation_id = rv.reservation_id
		INNER JOIN room r ON rv.room_id = r.room_id
		<where>
			YEAR(p.payment_date) = #{year}
			AND r.host_id = #{hostId}
			AND r.room_id = #{roomId}
			AND p.refund_status = 'N'
		</where>
		GROUP BY monthList;
	</select>

	<!-- 조회 가능 연도 체크 -->
	<select id="selectYearList" parameterType="java.util.Map" resultType="Integer">
		SELECT 
			YEAR(p.payment_date) year
		FROM payment p
		INNER JOIN reservation rv ON p.reservation_id = rv.reservation_id
		INNER JOIN room r ON rv.room_id = r.room_id
		<where>
			r.host_id = #{hostId}
			AND r.room_id = #{roomId}
			AND p.refund_status = 'N'
		</where>
		GROUP BY year
	</select>	
</mapper>