<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.MemberMapper">
	<!-- 아이디 중복 체크 -->
	<select id="selectMemberId" resultType="int" parameterType="com.btf.tap.vo.Member">
		SELECT 
			COUNT(*)
		FROM
			view_member_id_check
		WHERE
			member_id=#{memberId}
	</select>
	
	<!-- 회원 한 명의 정보 불러오기 -->
	<select id="selectMemberOne" resultType="com.btf.tap.vo.Member" parameterType="com.btf.tap.vo.Member">
		SELECT 
			member_id memberID,
			member_name memberName,
			member_age memberAge,
			member_phone memberPhone,
			member_point memberPoint,
			create_date createDate,
			update_date updateDate
		FROM
			member
		WHERE
			member_id=#{memberId} AND
			member_pw=#{memberPw}
	</select>
	
	<!--  새로운 회원 한 명 등록하기 -->
	<insert id="insertMemberOne" parameterType="com.btf.tap.vo.Member">
		INSERT INTO
			member(
				member_id, 
				member_pw,
				member_age,
				member_name.
				member_phone,
				member_point,
				create_date,
				update_date 
			)
		VALUES (
			#{memberId},
			#{memberPw},
			#{memberAge},
			#{memberName},
			#{memberPhone},
			#{memberPoint},
			NOW(),
			NOW()
		)
	</insert>

</mapper>