<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.NoticeMapper">
		<resultMap type="com.btf.tap.vo.Notice" id="resultNotice">
		<result column="notice_id" property="noticeId"/>
		<result column="system_admin_id" property="systemAdminId"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>
	<!-- 전체 리스트 출력 -->
	<select id="selectNoticeList" parameterType="Map" resultMap="resultNotice">
		SELECT 
			notice_id,
			system_admin_id,
			title,
			content,
			create_date,
			update_date     
		FROM notice 
        ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 총 게시글의 수 -->
	<select id="totalRowCount" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	
	
	<select id="selectNoticeOne" parameterType="int" resultMap="resultNotice">
		SELECT
			notice_id,
			title,
			content,
			create_date,
			update_date
		FROM notice
		WHERE notice_id = #{noticeId}
	</select>
		
	<!-- 공지사항 추가 -->
	<insert id="insertNotice" parameterType="com.btf.tap.vo.Notice">
		INSERT INTO notice(
			system_admin_id, title, content, create_date, update_date
		) VALUES (
			#{systemAdminId}, #{title}, #{content}, NOW(), NOW())
			<selectKey keyProperty="noticeId" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.btf.tap.vo.Notice">
		UPDATE notice SET
			
			title=#{title},
			content=#{content},
			update_date=NOW()
			<where>notice_id=#{noticeId}</where>
	</update>
	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="com.btf.tap.vo.Notice">
		DELETE FROM notice
		<where>notice_id=#{noticeId}</where> 
	</delete>	
	
</mapper>