<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.PartMapper">

	<!-- 숙소별 구성 삭제 -->
	<delete id="deleteRoomPart" parameterType="int">
       DELETE FROM room_part
       WHERE room_id= #{roomId}
    </delete>
	
	<!-- 숙소별 구성 추가 -->
    <insert id="insertRoomPart" parameterType="com.btf.tap.vo.RoomPart">
       INSERT INTO room_part(
          part_name, room_id, quantity, create_date, update_date
       )VALUE(
          #{partName}, #{roomId}, #{quantity}, NOW(), NOW())
    </insert>
    
    <!-- 구성 목록 추출 -->
	<select id="selectPartList" resultType="String">
		SELECT part_name partName FROM part
	</select>
</mapper>