<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.ReportMapper">
	<resultMap type="com.btf.tap.vo.Report" id="resultReport">
		<id column="writer_id" property="writerId"/>
		<id column="report_target" property="reportTarget"/>
		<id column="report_target_category" property="reportTargetCategory"/>
		<result column="writer_category" property="writerCategory"/>
		<result column="report_content" property="reportContent"/>
		<result column="approval_status" property="approvalStatus"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>	

	<!-- 전체 페이지 / 작성자 카테고리별 페이지 조회 -->
	<select id="selectReportList" parameterType="java.util.Map" resultMap="resultReport">
		SELECT 
			writer_id,
			report_target,
			report_target_category,
			writer_category,
			report_content,
			approval_status,
			create_date,
			update_date
		FROM report
		<where>
			<if test="writerCategory != null">
				writer_category = #{writerCategory}
			</if>
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 전체 페이지 수 -->
	<select id="totalReportRowCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM report
		<where>
		<if test="writerCategory != null">
			writer_category = #{writerCategory}
		</if>
		</where>		
	</select>
	
	<!-- 신고글 작성하기 -->
	<insert id="insertReport" parameterType="com.btf.tap.vo.Report">
		INSERT INTO 
			report(
				writer_id, 
				report_target, 
				report_target_category, 
				writer_category,
				report_content, 
				approval_status, 
				create_date, 
				update_date
			)
		VALUES(
				#{writerId},
				#{reportTarget},
				#{reportTargetCategory},
				#{writerCategory},
				#{reportContent},
				#{approvalStatus},
				NOW(),
				NOW()
		)		
	</insert>
	
	<!-- 신고글 삭제하기 -->
	<delete id="deleteReport" parameterType="com.btf.tap.vo.Report">
	 	DELETE
	 	FROM report
	 	WHERE 
	 		writer_id = #{writerId} AND
	 		report_target = #{reportTarget} AND
	 		report_target_category = #{reportTargetCategory}
	</delete>
	
	<!-- 신고글 승인여부 수정하기 -->
	<update id="updateReport" parameterType="com.btf.tap.vo.Report">
		UPDATE report
		SET
			approval_status = #{approvalStatus},
			update_date = NOW()
		WHERE 
			writer_id = #{writerId} AND
			report_target = #{reportTarget} AND
			report_target_category = #{reportTargetCategory}	
	</update>
</mapper>