<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.ReservationMapper">
	
	<resultMap type="com.btf.tap.vo.Reservation" id="resultReservation">
		<result column="reservation_id" property="reservationId"></result>
		<result column="member_id" property="memberId"></result>
		<result column="room_id" property="roomId"></result>
		<result column="room_name" property="roomName"></result>
		<result column="check_in_date" property="checkInDate"></result>
		<result column="check_out_date" property="checkOutDate"></result>
		<result column="people_num" property="peopleNum"></result>
		<result column="final_payment_price" property="finalPaymentPrice"></result>
		<result column="create_date" property="createDate"></result>
		<result column="update_date" property="updateDate"></result>
	<association property="room" javaType="com.btf.tap.vo.Room">
          <result column="room_id" property="roomId"></result>
      <result column="detail_address_id" property="detailAddressId"></result>
      <result column="host_id" property="hostId"></result>
      <result column="room_category" property="roomCategory"></result>
      <result column="room_form" property="roomForm"></result>
      <result column="room_name" property="roomName"></result>
      <result column="room_intro" property="roomIntro"></result>
      <result column="min_day" property="minDay"></result>
      <result column="check_in_time" property="checkInTime"></result>
      <result column="check_out_time" property="checkOutTime"></result>
      <result column="people_num" property="peopleNum"></result>
      <result column="room_price" property="roomPrice"></result>
      <result column="create_date" property="createDate"></result>
      <result column="update_date" property="updateDate"></result>
      </association>
    <association property="address" javaType="com.btf.tap.vo.Address">
         <result column="address_id" property="addressId"></result>
         <result column="detail_address_id" property="detailAddressId"></result>
         <result column="detail_address" property="detailAddress"></result>
         <result column="detail_address2" property="detailAddress2"></result>
      </association>
	
		
	</resultMap>
	
	<!-- 예약 숙소 리스트-->
	<select id="selectReservationList" parameterType="hashMap" resultMap="resultReservation">
		SELECT
		   res.reservation_id,
		   res.room_id,
		   res.create_date,
		   r.room_name,
		   r.detail_address_id,
		   CONCAT(a.sido,' ',a.sigungu,' ',a.road_name,' ',da.detail_address) detail_address,
		   res.check_in_date, 
		   res.check_out_date,
		   res.final_payment_price, 
		   r.check_in_time, 
		   r.check_out_time, 
		   r.room_form, 
		   res.people_num,
		   r.room_price, 
		   res.update_date
		FROM 
			(SELECT * FROM reservation ORDER BY create_date DESC LIMIT #{beginRow}, #{rowPerPage}) res
		INNER JOIN 
			room r ON res.room_id=r.room_id
		INNER JOIN 
			detail_address da ON r.detail_address_id=da.detail_address_id
		INNER JOIN 
			address a ON da.address_id=a.address_id;
		 
	</select>
	
	 <!-- 예약 목록 개수 -->
   <select id="selectReservationNum" resultType="int">
      SELECT COUNT(*) FROM reservation
   </select>
	
	<!-- 예약하기 -->
	<!--  <insert id="insertReservation" parameterType="com.btf.tap.vo.Reservation" >
		INSERT INTO reservation (
			member_id,
			room_id,
			check_in_date,
			check_out_date,
			people_num,
			create_date,
			update_date
		)	VALUES	(
					#{memberId}, #{roomId}, #{checkInDate}, #{checkOutDate}, #{peopleNum}, 
					 NOW(), NOW() )
		<selectKey keyProperty="reservationId" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>	
	</insert>-->
	
	<!-- 예약하기 -->
	<insert id="insertReservation" parameterType="com.btf.tap.vo.Reservation" >
		INSERT INTO reservation (
			member_id,
			room_id,
			room_name,
			check_in_date,
			check_out_date,
			final_payment_price,
			people_num,
			create_date,
			update_date
		)	VALUES	(
					#{memberId}, #{roomId}, #{room.roomName}, #{checkInDate}, #{checkOutDate}, #{finalPaymentPrice}, #{peopleNum}, NOW(), NOW())
		<selectKey keyProperty="reservationId" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 예약 정보 상세보기 -->
	<select id="selectReservationOne" parameterType="int" resultMap="resultReservation">
		SELECT
			reservation_id,
			member_id,
			room_id,
			check_in_date,
			check_out_date,
			people_num,
			final_payment_price,
			create_date,
			update_date
		FROM reservation
		WHERE reservation_id = #{reservationId}
	</select>
	
	
	
	<!-- 예약 수정하기.. 필요할까요? -->
	<update id="updateReservation" parameterType="com.btf.tap.vo.Reservation">
		UPDATE reservation SET	
			check_in_date=#{checkInDate}, check_out_date=#{checkOutDate}, people_num=#{peopleNum}, update_date=NOW() 
		<where>reservation_id=#{reservationId}</where>
	</update>
	
	<!-- 예약 삭제하기 -->
	<delete id="deleteReservation" parameterType="com.btf.tap.vo.Reservation">
		DELETE FROM reservation
		<where>reservation_id=#{reservationId}</where>
	</delete>
	
	<!-- 특정 숙소의 예약 목록 추출 -->
	<select id="selectRoomReservation" parameterType="int" resultMap="resultReservation">
		SELECT
			reservation_id, member_id, room_id, check_in_date, check_out_date,
			people_num, final_payment_price, create_date, update_date
		from reservation WHERE room_id=#{roomId}
	</select>
	
	<!-- 특정 숙소의 유효한 예약 개수 추출(아직 체크인 날짜가 지나지 않은 예약 추출) -->
	<select id="selectRoomReservationYetCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM reservation WHERE room_id=#{roomId} AND check_in_date > NOW()
	</select>
	
	<!-- 특정 숙소의 예약 날짜 목록 추출 -->
	<select id="selectRoomReservationDateList" parameterType="int" resultMap="resultReservation">
      SELECT
      	check_in_date, check_out_date
      FROM reservation
      WHERE room_id=#{roomId}
      ORDER BY check_in_date ASC
   </select>
	
	<!-- 특정 숙소 월별 예약 인원수 조회 -->
	<select id="selectRoomReservationCheck" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(rv.create_date, '%Y-%m') monthList, 
			SUM(rv.people_num) userNum,
			r.room_name roomName
		FROM reservation rv
		INNER JOIN room r ON rv.room_id = r.room_id
		<where>
			rv.room_id = #{roomId}
			AND YEAR(rv.create_date) = #{year}
		</where>
		GROUP BY monthList;
	</select>
	<!-- 예약정보 상세보기 -->
	<!--  <select id="selectReservationOne" parameterType="int" resultMap="resultReservation">
		SELECT
		reservation_id,
		member_id,
		room_id,
		check_in_date,
		number_of_people,
		check_out_date,
		create_date,
		update_date	
		FROM reservation
		WHERE reservation_id = #{reservationId}
	</select>-->
	
	  <!-- 전체 예약 목록 보기 -->
	<!--  <select id="selectReservationList" parameterType="Map" resultMap="resultReservation">
		SELECT
		reservation_id,
		member_id,
		room_id,
		check_in_date,
		number_of_people,
		check_out_date,
		create_date,
		update_date
		ORDER BY create_date DESC
		
	</select>-->
	</mapper>