<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.RoomReviewMapper">
	<resultMap type="com.btf.tap.vo.RoomReview" id="resultRoomReview">
		<id column="room_review_id" property="roomReviewId"/>
		<result column="payment_id" property="paymentId"/>
		<result column="answer_status" property="answerStatus"/>
		<result column="room_review_content" property="roomReviewContent"/>
		<result column="room_review_score" property="roomReviewScore"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<collection property="roomReviewComment" ofType="com.btf.tap.vo.RoomReviewComment">
			<id column="room_review_id" property="roomReviewId"/>
			<result column="room_review_comment_content" property="roomReviewCommentContent"/>
			<result column="comment_create_date" property="commentCreateDate"/>
		</collection>
	</resultMap>
 
	<!-- 해당숙소의 전체 후기 조회하기 -->
	<select id="selectRoomReviewList" parameterType="java.util.Map" resultMap="resultRoomReview">
		SELECT
			 rr.room_review_id,
			 rr.payment_id,
			 rr.answer_status,
			 rr.room_review_content,
			 rr.room_review_score,
			 rr.create_date,
			 rr.update_date
		FROM room_review rr
			 LEFT JOIN payment p ON rr.payment_id = p.payment_id
			 LEFT JOIN reservation rs ON p.reservation_id = rs.reservation_id
			 LEFT JOIN room r ON rs.room_id = r.room_id
		WHERE
			 r.room_id = #{roomId}	
		ORDER BY rr.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
	
	<!-- 전체 후기 수 -->
	<select id="totalRoomReivewCount" parameterType="int" resultType="int">
		SELECT
			 COUNT(rr.room_review_id)
		FROM room_review rr 
			 INNER JOIN payment p ON rr.payment_id = p.payment_id
			 INNER JOIN reservation rs ON p.reservation_id = rs.reservation_id
			 INNER JOIN room r ON rs.room_id = r.room_id
		WHERE
			 r.room_id = #{roomId}	 	
	</select>
	
	<!-- 숙소후기 작성하기 -->
	<insert id="insertRoomReview" parameterType="com.btf.tap.vo.RoomReview">
		INSERT INTO room_review(
			payment_id,
			answer_status,
			room_review_content,
			room_review_score,
			create_date,
			update_date
		) VALUES (
			#{paymentId},
			#{answerStatus},
			#{roomReviewContent},
			#{roomReviewScore},
			NOW(),
			NOW()
		)
	</insert>
	
	<!-- 숙소후기 삭제하기 -->
	<delete id="deleteRoomReview" parameterType="int">
		DELETE
		FROM 
			room_review
		WHERE 
			room_review_id = #{roomReviewId}
	</delete>
	
</mapper>