<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.RoomMapper">
   <!-- 숙소 resultMap -->
   <resultMap type="com.btf.tap.vo.Room" id="resultRoom">
      <result column="room_id" property="roomId"></result>
      <result column="detail_address_id" property="detailAddressId"></result>
      <result column="host_id" property="hostId"></result>
      <result column="room_category" property="roomCategory"></result>
      <result column="room_form" property="roomForm"></result>
      <result column="room_name" property="roomName"></result>
      <result column="room_intro" property="roomIntro"></result>
      <result column="min_day" property="minDay"></result>
      <result column="check_in_time" property="checkInTime"></result>
      <result column="check_out_time" property="checkOutTime"></result>
      <result column="people_num" property="peopleNum"></result>
      <result column="room_price" property="roomPrice"></result>
      <result column="create_date" property="createDate"></result>
      <result column="update_date" property="updateDate"></result>
      <association property="address" javaType="com.btf.tap.vo.Address">
         <result column="address_id" property="addressId"></result>
         <result column="detail_address_id" property="detailAddressId"></result>
         <result column="detail_address" property="detailAddress"></result>
         <result column="detail_address2" property="detailAddress2"></result>
      </association>
   </resultMap>
   
   <!-- 숙소별 가격 resultMap -->
   <resultMap type="com.btf.tap.vo.PriceRoom" id="resultPriceRoom">
      <result column="price_room_id" property="priceRoomId"></result>
   	  <result column="start_date" property="startDate"></result>
      <result column="end_date" property="endDate"></result>
      <result column="room_id" property="roomId"></result>
      <result column="price" property="price"></result>
      <result column="create_date" property="createDate"></result>
      <result column="update_date" property="updateDate"></result>
   </resultMap>
   
   <!-- 특정 숙소별 가격 삭제 -->
   <delete id="deletePriceRoomOne" parameterType="int">
      DELETE FROM price_room
      WHERE price_room_id= #{priceRoomId}
   </delete>
   
   <!-- 특정 숙소의 숙소별 가격 전부 삭제 -->
   <delete id="deletePriceRoom" parameterType="int">
      DELETE FROM price_room
      WHERE room_id= #{roomId}
   </delete>
	
   <!-- 숙소별 가격 목록 추출 -->
   <select id="selectPriceRoomList" parameterType="int" resultMap="resultPriceRoom">
      SELECT
         price_room_id, start_date, end_date,
         room_id, price, create_date, update_date
      FROM price_room
      WHERE room_id=#{roomId}
      ORDER BY start_date ASC
   </select>
   
   <!-- 숙소별 가격 추가 -->
   <select id="insertPriceRoom" parameterType="hashMap">
      INSERT INTO price_room(
         start_date, end_date, room_id, price, create_date, update_date
      )VALUE(
         #{startDate}, #{endDate}, #{roomId}, #{price}, NOW(), NOW())
   </select>
   
   <!-- 특정 host의 숙소 목록 -->
   <select id="selectHostRoomList" parameterType="String" resultMap="resultRoom">
      SELECT
         room_id, detail_address_id, host_id, room_category, room_form, room_name,
         room_intro, min_day, check_in_time, check_out_time, people_num, room_price,
         create_date, update_date
      FROM room WHERE host_id=#{hostId}
      ORDER BY create_date DESC
   </select>
   
   <!-- 특정 host의 숙소 목록 개수 -->
   <select id="selectHostRoomNum" parameterType="String" resultType="int">
      SELECT COUNT(*) FROM room WHERE host_id=#{hostId}
   </select>
   
   <!-- 숙소 전체 목록 출력(최근 생성된 숙소 순으로) -->
   <select id="selectRoomList" parameterType="hashMap" resultMap="resultRoom">
      SELECT
         r.room_id, r.detail_address_id, r.host_id,
         r.room_category, r.room_form, r.room_name,
         r.room_intro, r.min_day, r.check_in_time,
         r.check_out_time, r.people_num, r.room_price,
         r.create_date, r.update_date, da.detail_address2, da.detail_address_id,
         CONCAT(a.sido,' ',a.sigungu,' ',a.road_name,' ',da.detail_address) detail_address
      FROM (SELECT * FROM room ORDER BY create_date DESC LIMIT #{beginRow}, #{rowPerPage}) r
      INNER JOIN detail_address da ON r.detail_address_id=da.detail_address_id
      INNER JOIN address a ON da.address_id=a.address_id
   </select>
   
   <!-- 숙소 목록 개수 -->
   <select id="selectRoomNum" resultType="int">
      SELECT COUNT(*) FROM room
   </select>

   <!-- 숙소 검색 결과 목록 출력(최근 생성된 숙소 순으로) -->
   <select id="selectSearchResultRoomList" parameterType="hashMap" resultMap="resultRoom">
      SELECT
         r.room_id, r.detail_address_id, r.host_id,
         r.room_category, r.room_form, r.room_name,
         r.room_intro, r.min_day, r.check_in_time,
         r.check_out_time, r.people_num, r.room_price,
         r.create_date, r.update_date, da.detail_address2, da.detail_address_id,
         CONCAT(a.sido,' ',a.sigungu,' ',a.road_name,' ',da.detail_address) detail_address
      FROM (SELECT * FROM room WHERE room_name LIKE CONCAT('%', #{searchText}, '%')
         ORDER BY create_date DESC LIMIT #{beginRow}, #{rowPerPage}) r
      INNER JOIN detail_address da ON r.detail_address_id=da.detail_address_id
      INNER JOIN address a ON da.address_id=a.address_id
   </select>
   
   <!-- 숙소 검색 결과 개수 -->
   <select id="selectSearchResultRoomNum" parameterType="String" resultType="int">
      SELECT COUNT(*) FROM room WHERE room_name LIKE CONCAT('%', #{searchText}, '%')
   </select>

   <!-- 숙소 카테고리 목록 추출 -->
   <select id="selectRoomCategory" resultType="String">
      SELECT room_category roomCategory
      FROM room_category
   </select>

   <!-- 특정 숙소 상세 정보 추출-->
   <select id="selectRoomOne" parameterType="int" resultType="com.btf.tap.vo.Room">
      SELECT
         room_id roomId, detail_address_id detailAddressId, host_id hostId,
         room_category roomCategory, room_form roomForm, room_name roomName,
         room_intro roomIntro, min_day minDay, check_in_time checkInTime,
         check_out_time checkOutTime, people_num peopleNum, room_price roomPrice,
         create_date createDate, update_date updateDate
      FROM room
      WHERE room_id=#{roomId}
   </select>

   <!-- 숙소 등록 -->
   <insert id="insertRoom" parameterType="com.btf.tap.vo.Room">
      INSERT INTO room(
         detail_address_id, host_id, room_category, room_form, room_name, room_intro,
         min_day, check_in_time, check_out_time, people_num, room_price, create_date, update_date
      )VALUE(
         #{detailAddressId}, #{hostId}, #{roomCategory}, #{roomForm}, #{roomName},
         #{roomIntro}, #{minDay}, #{checkInTime}, #{checkOutTime}, #{peopleNum},
         #{roomPrice}, NOW(), NOW())
      <selectKey keyProperty="roomId" order="AFTER" resultType="int">
         SELECT LAST_INSERT_ID()
      </selectKey>
   </insert>
   
   <!-- 숙소 정보 수정 -->
   <update id="updateRoom" parameterType="com.btf.tap.vo.Room">
      UPDATE room SET
         room_category=#{roomCategory}, room_form=#{roomForm}, room_name=#{roomName},
         room_intro=#{roomIntro}, min_day=#{minDay}, check_in_time=#{checkInTime},
         check_out_time=#{checkOutTime}, people_num=#{peopleNum}, room_price=#{roomPrice},
         update_date=NOW()
      WHERE room_id= #{roomId}
   </update>
   
   <!-- 숙소 삭제 -->
   <delete id="deleteRoom" parameterType="int">
      DELETE FROM room
      WHERE room_id= #{roomId}
   </delete>
   
   <!-- 선호 지역 인기 숙소 리스트 -->
   <select id="selectPreferLocalRoomList" parameterType="java.util.Map" resultType="java.util.Map">
	  SELECT * FROM (
		  SELECT
			  v.room_id roomId, v.detail_address_id detailAddressId, v.host_id hostId, 
			  v.room_category roomCategory, v.room_form roomForm, v.room_name roomName,
			  v.room_intro roomIntro, v.min_day minDay, v.check_in_time checkInTime, v.check_out_time checkOutTime, v.people_num peopleNum, 
			  v.room_price roomPrice, i.image_name imageName
		  FROM view_room_info v
		  INNER JOIN image i ON v.room_id = i.image_target
		  <where>
			i.image_target_category = 'room'
			  <if test="sido != null and sigungu != null">
			  	AND sido = #{sido}
				AND sigungu = #{sigungu}
			  </if>
		  </where>
		  ORDER BY ranking_score DESC
		  LIMIT #{beginRow}, #{rowPerPage} 
	  ) AS list
	  GROUP BY roomId
   </select>
  
   <!-- 선호 지역 인기 숙소 개수 -->
   <select id="preferLocalRoomTotalCount" parameterType="java.util.Map" resultType="int">
	  SELECT
		  COUNT(*)
	  FROM view_room_info
		  <if test="sido != null and sigungu != null">
			  <where>
				  sido = #{sido}
				  AND sigungu = #{sigungu}
			  </where>	  
		  </if>
   </select>

   <!-- 숙소 연도별 이용 연령층 조회 -->
   <select id="selectRoomAgeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			if(FLOOR((m.member_age / 10)) * 10 > 49, '50대 이상', CONCAT(FLOOR((m.member_age / 10)) * 10, '대')) ageGroup,
			COUNT(*) age
		FROM room r
		INNER JOIN reservation rv ON rv.room_id = r.room_id
		INNER JOIN member m ON rv.member_id = m.member_id 
		<where>
			r.room_id = #{roomId}
			AND YEAR(rv.create_date) = #{year}
		</where>
		GROUP BY ageGroup;
   </select>
   
   <!-- 1회 이상 결제처리 된 숙소 리스트 조회 -->
   <select id="selectPayRoomList" parameterType="String" resultMap="resultRoom">
		SELECT DISTINCT
			r.room_id,
			r.room_name
		FROM room r
		INNER JOIN reservation rv ON r.room_id = rv.room_id
		INNER JOIN payment p ON rv.reservation_id = p.reservation_id
		<where>
			r.host_id = #{hostId}
		</where>  
   </select>
   
   <!-- 특정 숙소 기간별 결제 내역 조회 -->
   <select id="selectPayRoomDateList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			r.room_name roomName,
			rv.member_id memberId,
			p.final_payment_price price,
			p.payment_date paymentDate
		FROM reservation rv
		INNER JOIN room r ON rv.room_id = r.room_id
		INNER JOIN payment p ON p.reservation_id = rv.reservation_id
		<if test="roomId == 0">
			<where>
				p.refund_status = 'N'
				AND p.payment_date BETWEEN #{minDay} AND #{maxDay}
			</where>  		
		</if>
		
		<if test="roomId != 0">
			<where>
				r.room_id = #{roomId}
				AND p.refund_status = 'N'
				AND p.payment_date BETWEEN #{minDay} AND #{maxDay}
			</where>  		
		</if>
   </select>
   
   <!-- 조회 가능 연도 체크 -->
   <select id="selectYearList" parameterType="int" resultType="Integer">
		SELECT
			year(rv.create_date) year
		FROM room r
		INNER JOIN reservation rv ON rv.room_id = r.room_id
		<where>
			r.room_id = #{roomId}
		</where>
		GROUP BY year
   </select>
</mapper>