<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.SearchMapper">
	<!-- 숙소명 검색 조회 -->
	<select id="roomSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Room">
		SELECT
			room_id roomId,
			detail_address_id detailAddressId,
			room_category roomCategory,
			room_form roomForm,
			room_name roomName,
			room_intro roomIntro,
			min_day minDay,
			people_num peopleNum,
			room_price roomPrice
		FROM room
		<where>
			room_name LIKE 
			CONCAT ('%', #{keyword}, '%')
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 숙소 검색 페이지 체크 -->
	<select id="roomTotalRowCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM room
		<where>
			room_name LIKE 
			CONCAT ('%', #{keyword}, '%')
		</where>		
	</select>	
	
	<!-- 명소 검색 조회 -->
	<select id="attractionSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Attraction">
		SELECT
			attraction_id attractionId,
			attraction_category attractionCategory,
			attraction_name attractionName,
			attraction_content attractionContent
		FROM attraction
		<where>
			attraction_name LIKE
			CONCAT ('%', #{keyword}, '%')
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 명소 검색 페이지 체크 -->
	<select id="attractionTotalRowCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM attraction
		<where>
			attraction_name LIKE
			CONCAT ('%', #{keyword}, '%')
		</where>		
	</select>	
	
	<!-- 해시태그 숙소 관련 검색 조회 -->
	<select id="hashtagRoomSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Room">
		SELECT
			r.room_id roomId,
			r.detail_address_id detailAddressId,
			r.room_category roomCategory,
			r.room_form roomForm,
			r.room_name roomName,
			r.room_intro roomIntro,
			r.min_day minDay,
			r.people_num peopleNum,
			r.room_price roomPrice
		FROM room r INNER JOIN hashtag h
		ON r.room_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE 
			CONCAT ('%', #{keyword}, '%')
		</where>
		ORDER BY r.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>

	<!-- 해시태그 숙소 관련 검색 페이지 체크 -->
	<select id="hashtagRoomTotalRowCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM room r INNER JOIN hashtag h
		ON r.room_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE 
			CONCAT ('%', #{keyword}, '%')
		</where>		
	</select>	

	<!-- 해시태그 명소 관련 검색 조회 -->
	<select id="hashtagAttractionSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Attraction">
		SELECT
			a.attraction_id attractionId,
			a.attraction_category attractionCategory,
			a.attraction_name attractionName,
			a.attraction_content attractionContent
		FROM attraction a INNER JOIN hashtag h
		ON a.attraction_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE
			CONCAT ('%', #{keyword}, '%')
		</where>
		ORDER BY a.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 해시태그 명소 관련 검색 페이지 체크 -->
	<select id="hashtagAttractionTotalRowCount" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM attraction a INNER JOIN hashtag h
		ON a.attraction_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE
			CONCAT ('%', #{keyword}, '%')
		</where>		
	</select>	
	
	<!-- 지역별 숙소명 검색 조회 -->
	<select id="roomDistrictSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Room">
		SELECT
			room_id roomId,
			detail_address_id detailAddressId,
			room_category roomCategory,
			room_form roomForm,			
			room_name roomName,
			room_intro roomIntro,
			min_day minDay,
			people_num peopleNum,
			room_price roomPrice
		FROM view_room_address
		<where>
			room_name LIKE 
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 지역별 숙소 검색 페이지 체크 -->
	<select id="roomDistrictTotalRowCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM view_room_address
		<where>
			room_name LIKE 
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}			
		</where>		
	</select>

	<!-- 지역별 명소 검색 조회 -->
	<select id="attractionDistrictSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Attraction">
		SELECT
			attraction_id attractionId,
			attraction_category attractionCategory,
			attraction_name attractionName,
			attraction_content attractionContent
		FROM view_attraction_address
		<where>
			attraction_name LIKE
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}				
		</where>
		ORDER BY create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 명소 검색 페이지 체크 -->
	<select id="attractionDistrictTotalRowCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM view_attraction_address
		<where>
			attraction_name LIKE
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}				
		</where>		
	</select>

	<!-- 지역별 해시태그 숙소 관련 검색 조회 -->
	<select id="hashtagRoomDistrictSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Room">
		SELECT
			v.room_id roomId,
			v.detail_address_id detailAddressId,
			v.room_category roomCategory,
			v.room_form roomForm,
			v.room_name roomName,
			v.room_intro roomIntro,
			v.min_day minDay,
			v.people_num peopleNum,
			v.room_price roomPrice
		FROM view_room_address v INNER JOIN hashtag h
		ON v.room_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE 
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}						
		</where>
		ORDER BY v.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>

	<!-- 지역별 해시태그 숙소 관련 검색 페이지 체크 -->
	<select id="hashtagRoomDistrictTotalRowCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM view_room_address v INNER JOIN hashtag h
		ON v.room_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE 
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}						
		</where>		
	</select>	

	<!-- 지역별 해시태그 명소 관련 검색 조회 -->
	<select id="hashtagAttractionDistrictSearchList" parameterType="java.util.Map" resultType="com.btf.tap.vo.Attraction">
		SELECT
			v.attraction_id attractionId,
			v.attraction_category attractionCategory,
			v.attraction_name attractionName,
			v.attraction_content attractionContent
		FROM view_attraction_address v INNER JOIN hashtag h
		ON v.attraction_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}						
		</where>
		ORDER BY v.create_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 지역별 해시태그 명소 관련 검색 페이지 체크 -->
	<select id="hashtagAttractionDistrictTotalRowCount" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(*)
		FROM view_attraction_address v INNER JOIN hashtag h
		ON v.attraction_id = h.hashtag_target
		<where>
			h.hashtag_name LIKE
			CONCAT ('%', #{keyword}, '%')
			AND sido LIKE #{sido}
			AND sigungu LIKE #{sigungu}						
		</where>		
	</select>		

	<!-- 회원 검색어 기록 저장 -->
	<insert id="insertSearchKeyword" parameterType="com.btf.tap.vo.SearchHistory">
		INSERT INTO search_history(
			search_word,
			member_id,
			create_date
		) SELECT 
			#{searchWord},
			#{memberId},
			NOW()
		FROM search_history
		<where>
			NOT EXISTS (
				SELECT * FROM search_history WHERE search_word = #{searchWord} AND member_id = #{memberId}
			)
		</where>
	</insert>
	
	<!-- 시도 리스트 조회 -->
	<select id="sidoList" resultType="String">
		SELECT si_do sido FROM si_do
	</select>
</mapper>