<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btf.tap.mapper.SystemAdminMapper">
	<!-- 시스템관리자 전체 목록 불러오기 -->
	<select	id="selectSystemAdminList" resultType="com.btf.tap.vo.SystemAdmin">
		SELECT
			system_admin_id systemAdminId,
			system_admin_name systemAdminName
		FROM 
			system_admin
		ORDER BY create_date DESC
		LIMIT 0,10
	</select>

	<!-- 시스템관리자 한 명의 정보 불러오기 -->
	<select id="selectSystemAdminOne" parameterType="String" resultType="com.btf.tap.vo.SystemAdmin">
		SELECT
			system_admin_id systemAdminId,
			system_admin_pw systemAdminPw,
			system_admin_name systemAdminName,
			system_admin_age systemAdminAge,
			system_admin_phone systemAdminPhone,
			create_date createDate,
			update_date updateDate
		FROM
			system_admin
		WHERE
			system_admin_id = #{systemAdminId}
	</select>
	
	<!-- 새로운 시스템관리자 한 명 등록하기 -->
	<insert id="insertSystemAdmin" parameterType="com.btf.tap.vo.SystemAdmin">
		INSERT INTO 
			system_admin(
				system_admin_id,
				system_admin_pw,
				system_admin_name,
				system_admin_age,
				system_admin_phone,
				create_date,
				update_date
			)
		VALUES(
				#{systemAdminId},
				#{systemAdminPw},
				#{systemAdminName},
				#{systemAdminAge},
				#{systemAdminPhone},
				NOW(),
				NOW()	
		)	
	</insert>
	
	<!-- 시스템관리자 한 명의 pw 확인하기(수정용) -->
	<select id="selectSystemAdminPw" parameterType="com.btf.tap.vo.SystemAdmin" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			system_admin
		WHERE
		 	system_admin_id = #{systemAdminId} AND
		 	system_admin_pw = #{systemAdminPw}
	</select>
	
	<!-- 시스템관리자 한 명의 pw 수정하기 -->
	<update id="updateSystemAdminPw" parameterType="com.btf.tap.vo.SystemAdmin">
		UPDATE system_admin
		SET
			system_admin_pw = #{systemAdminPw},
			update_date = NOW()
		WHERE 
			system_admin_id = #{systemAdminId}	
	</update>
	
	<!-- 시스템관리자 한 명의 정보(name,age,phone) 수정하기 -->
	<update id="updateSystemAdminInfo" parameterType="com.btf.tap.vo.SystemAdmin">
		UPDATE system_admin
		SET
			system_admin_name = #{systemAdminName},
			system_admin_age = #{systemAdminAge},
			system_admin_phone = #{systemAdminPhone},
			update_date = NOW()
		WHERE 
			system_admin_id = #{systemAdminId}	
	</update>
	
	<!-- 시스템관리자 한 명의 정보 삭제하기 -->
	<delete id="deleteSystemAdmin" parameterType="com.btf.tap.vo.SystemAdmin">
		DELETE 
		FROM system_admin
		WHERE system_admin_id = #{systemAdminId} AND system_admin_pw = #{systemAdminPw}
	</delete>
	
	<!-- 탈퇴내역 조회 -->
	<select id="selectWithdrawalList" resultType="java.util.Map">
		SELECT
			member_id memberId,
			create_date createDate
		FROM withdrawal_history
	</select>
	
	<!-- 특정 탈퇴내역 삭제 -->
	<delete id="deleteWithdrawalList" parameterType="String">
		DELETE FROM withdrawal_history
		<where>
			member_id = #{userId}
		</where>
	</delete>
	
	<!-- 사이트 이용자 기간별 포인트 내역 조회 -->
	<select id="selectPointHistoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			user_id userId,
			point_history_category pointHistoryCategory,
			point,
			changed_point changedPoint,
			create_date createDate
		FROM view_user_point_history
		<where>
			create_date BETWEEN #{minDay} AND #{maxDay}
		</where>
		ORDER BY create_date DESC;	
	</select>
	
	<!-- 연도별 사이트 관리자 월간 수익 조회 -->
	<select id="selectRevenueYearList" parameterType="int" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(create_date, '%Y-%m') monthList, 
			SUM(fee) revenue
		FROM fee
		<where>
			YEAR(create_date) = #{year}
		</where>
		GROUP BY monthList;
	</select>
	
	<!-- 연간 사이트 수익 조회 -->
	<select id="selectRevenueYear" resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(create_date, '%Y') yearList, 
			SUM(fee) revenue
		FROM fee
		GROUP BY yearList;	
	</select>
	
	<!-- 사이트 총합 이용자 수 -->
	<select id="selectCountUser" resultType="int">
		SELECT 
			COUNT(*)
		FROM view_user	
	</select>
	
	<!-- 사이트 총합 수익 -->
	<select id="selectRevenue" resultType="int">
		SELECT 
			SUM(fee) revenue
		FROM fee	
	</select>
</mapper>